/* Colors */
:root {
	--primary: #000;
	--background: #171c1a;
	--day-color: #b1c39b;
}
body {
	background: var(--background);
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	color: #364937;
}
.key {
	position: absolute;
    width: 20px;
    height: 100vh;
}
.key div {
	display: block;
	height: calc(4vh);
	width: 100%;
    text-align: center;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(50, 1fr);
    height: 100vh;
    width: calc(100vw-20px);
    transition: background-color 0.4s;
    margin-left: 20px;
}
.wrapper div {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #4b504a;
	transition: opacity 0.8s ease-in-out;
}
.is-night {
	background: #203530;
}
.is-day {
	background: var(--day-color);
}
.has-passed {
	opacity: 0.2;
}
.is-current {
	animation: 1s infinite flash;
}
.is-current.stop-animation {
	animation: none;
	background: #fff;
}
.options {
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50px;
	background: #fff;
	width: 50px;
	height: 50px;
	transition: all 0.4s;
	background-image: url(../scr/hamburger.png);
    background-position: center center;
    background-size: 15px;
    background-repeat: no-repeat;
}
.options:hover {
	cursor: pointer;
}
.options.expanded {
	width: 100%;
    border-radius: 5px;
    height: 400px;
    background-position: 20px 20px;
    bottom: 0;
    right: 0;
}
.options__inner {
	padding: 60px 20px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
.options.expanded .options__inner {
	opacity: 1;
}
.options__inner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.options__inner li {

}

/* Progress */
.progress__outer {
	text-align: center;
	margin-bottom: 40px;
}
.progress__heading {
	font-size: 36px;
	margin: 0;
	padding: 0;
}
.progress_text {
	text-transform: uppercase;
	color: #888;
	margin-top: 0;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}
.progress__wrapper {
	background: #e6e6e6;
	width: 100%;
	display: block;
	height: 7px;
	border-radius: 10px;
}
.progress__wrapper-inner {
	display: block;
	height: 5px;
	background: #b1c39b;
	border-radius: 10px;
	border: 1px solid #4c4e49;
	margin: 0 auto;
	width: 100%;
	float: left;
	transition: width 1s ease-in-out;
}






@keyframes flash {
	0% {
		background: white;
	}
	50% {
		background: #203530;
	}
	100% {
		background: white;
	}
}

/* Light theme */
body.light {
	background: #fff;
}
body.light .wrapper {
	gap: 4px;
}
body.light .wrapper div {
	border-radius: 2px;
	border: none;
}
body.light .is-night {
	background: #d5d5d5;
}
body.light .is-day {
	background: #ffc600;
}
body.light .progress__wrapper {
	background: #fff5d1;
}
body.light .progress__wrapper-inner {
	background: #ffc600;
	border: 1px solid #ffc600;
}